.text-contactanos {
    color: #e7a428 !important
}

.btn-syllabus {
    background-color: #e7a428;
    color: white;
}

.btn-syllabus:hover {
    background-color: #c7870f;
    color: white;
}

html {
    scroll-behavior: smooth;
}

#header img{
    width: 60px;
}

#main .carousel-inner img{
    max-height: 90vh;
    object-fit: cover;
    filter: grayscale(40%);
}

.carousel-item {
    transition: transform 1s ease, opacity .5s ease-out;
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;

}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

/*#speakers .container .row .card .card-title{
    font-size: 12px;
}*/

.hero {
    width: 80%;
    height: 600px;/*450*/
    position: relative;
    margin: 100px auto;
    overflow: hidden;
}

.btn-box {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.btn-box button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
}

.btn-box .fa {
    margin-right: 20px;
}

.btn-box button:hover .fa {
    color: #e7a428;
}

.content-right img {
    width: 500px;/*350*/
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    position: absolute;
    transform: translateX(100%);
    transition: 0.3s;
}

.content-left {
    flex-basis: 50%;
}

.content-left ul {
   padding: 30px 0; 
}

.content-left ul li {
    font-size: 13px;
}

.content-left  p {
    font-size: 13px;
    padding: 30px 0;
}

.content-left a {
    width: 200px;
    display: block;
    padding: 8px 5px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #e7a428;
    color: #fff;
    text-align: center;
}

.content-right {
    flex-basis: 50%;
    text-align: center;
}

#content1 {
    transform: translateX(0px);
}

#btn1 {
    color: #e7a428;

}

.badges{
    text-align: right;
    display: inline-flex;
}

/*  table {
    width: 50px;
}*/

#place-time {
    background-color: #343a40;
    color: white;
  }
  
  #place-time img {
    max-width: 100%;
  }

  #place-time .row a{
    font-size: 30px;
    color: inherit;
    width: 0px;
    height: 40px;
    line-height: 38px;
    display: inline;
    text-align: center;
    border-radius: 50%;
    margin: 0 4px;
    opacity: 0.75;
  }

  #place-time .row a:hover{
    opacity: 0.9;
  }

.table {
    width: 100%;
    padding: 100px;
    /*min-height: 10vh;
    max-width: 180vh;
    justify-content: center;
    align-items: center;*/
}

.table a{
    font-size: 30px;
    color: inherit;
    width: 0px;
    height: 40px;
    line-height: 38px;
    display: inline;
    text-align: center;
    border-radius: 50%;
    margin: 0 4px;
    opacity: 0.75;
}

.table a:hover {
    opacity: 0.9;
}

.footer {
    /*font-family: 'Segoe UI';
    font-weight: 400;*/
    padding: 40px 0;
    background-color: #fff;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    color: #aaa;
}

/*#footer {
    background: #e7a428;
}

#footer a {
    color: white;
    text-decoration: none;
}*/